version: 1.0.{build}
os: Visual Studio 2015
cache:
  - packages -> **\packages.config      # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified

before_build:
- ps: >-
    if(-Not $env:APPVEYOR_PULL_REQUEST_TITLE)
            {
                git checkout $env:APPVEYOR_REPO_BRANCH -q
                cinst docfx -y
            }

    nuget restore
build:
  project: IpfsCore.sln
  verbosity: minimal
after_build:
- ps: >-
    if(-Not $env:APPVEYOR_PULL_REQUEST_TITLE)

    {
                docfx doc/docfx.json
    }
